body{
  background-color: #232323;
  margin: 0;
  font-family: 'Georgia';
}

#container {
  background-color: #232323;
}

#bar{
  background-color: steelblue;
  width: 0%;
  padding-bottom: 10%;
  max-width: 100%;
  min-width: 0%;
  margin: 2% 0;
  transition: 0.7s;
  text-align: center;
  font-size: 400%;
  font-weight: 700;
}

h1{
  text-align: center;
  background-color: steelblue;
  margin: 0;
  padding: 1.1% 0;
}

#plus{
  margin: 0 0 0 20%;
}

input{
  border: none;
  outline: none;
}

button{
  background: none;
  border: none;
  height: 100%;
  font-weight: 700;
  font-size: 120%;
  outline: none;
}

#line{
  background-color: white;
  text-align: center;
}

span{
  font-size: 200%;
}

button:hover{
  background-color: steelblue;
  color: white;
}